<div class="right-colum" id="profile-content">
{% if isOwner %}
<a href="/detail/info/add">Add</a>
{% endif %}
{% for info in infos %}
    <div class="info">
        {% if searching %}
        <p>Suche Nachhilfe in</p>
        {% else %}
        <p>Gebe Nachilfe in</p>
        {% endif %}
            <div class="flex">
                <h3>{{ info.get_hr_subject }}</h3>
                <p class="success">{{ info.cost_budget }}€</p>
            </div>
            <p>{{info.description | linebreaks}}</p>
            <a href="/detail/info/{{ info.get_hashid }}">More</a>
    </div>
{% endfor %}
</div>
