{% extends "base.html" %}
{% load static %}
{% block title %}Login{% endblock title %}
{% block content %}
<form action="{% url 'login' %}" method="post">
    {% csrf_token %}
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    {{form}}
    <input type="submit" value="Login">
</form>
<p><a href="{% url 'recover_password' %}">Lost password?</a></p>
<p>Dont have an Account? <a href="{% url 'register' %}">Register</a></p>
{% endblock content %}
