{% extends 'base.html' %}
{% load static %}
{% block title %}Tutor-Smith{% endblock title %}
{% block content %}
    {% if search %}
        {% if all %}
            <h1>Angebote</h1>
            <div>
            <form class="d-flex" method=POST action="{% url 'search' %}">
                {% csrf_token %}
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="searched">
                <button class="btn btn-outline-secondary" type="submit">Search</button>
            </form>
        </div>
        {% else %}
            <h1>Deine Suchergebnisse {{ search }}</h1>
            <br/>
            <form class="d-flex" method=POST action="{% url 'search' %}">
                {% csrf_token %}
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="searched">
                <button class="btn btn-outline-secondary" type="submit">Search</button>
            </form>
            </br>
            <h2>Angebote</h2>
        {% endif %}
       
        <br/>
        <div class="row row-cols-1 row-cols-md-2 g-4">
        {% for offer in offers %}
        <div class="col">
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="..." class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">{{ offer.subject }}</h5>
                  <p class="card-text">{{ offer.description }}</p>
                  <p class="card-text"><small class="text-muted">{{offer.cost_budget}}€</small></p>
                  <a href="users/{{user.get_hashid}}/profile">Kontakt: {{ offer.author }}</a>
                  <a href="/detail/info/{{ info.get_hashid }}">More</a>
                </div>
              </div>
            </div>
          </div>
        </div>
           
        {% endfor %}
    </div>
        {% if not all %}
            <br/>
            <h2>Users:</h2>
        {% endif %}

        {% for user in users %}
            <div class="row">
                <div class="col-md-4">
                    {% if user.profile_pic %}
                        <img src="{{ user.profile_pic }}" alt="Profile Pic" class="profile_pic">
                    {% else %}
                        <img src="https://avatars.dicebear.com/api/gridy/{{user.get_hashid}}.svg?scale=80&colorful=true"
                        class="profile_pic"
                        alt="Profile Pic">
                    {% endif %}
                </div>
                <div class="col-md-8">
                    <a href="users/{{user.get_hashid}}/profile">{{ user.first_name }} {{ user.last_name }}</a>
                    <p>{{ user.email }}</p>
                    <p>{{ user.phone_number }}</p>
                    <p>{{ user.address }}</p>
                    <p>{{ user.city }}</p>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <h1>No Search Found</h1>
    {% endif %}
{% endblock content %}
