{% extends 'base.html' %}
{% load static %}
{% block title %}Tutor-Smith{% endblock title %}
{% block content %}
<!-- Load from unpkg -->
<script src="https://unpkg.com/htmx.org@1.5.0"></script>
    {% if search %}
    <div class="wrapper">
        <form method="git" action="search">
            {% csrf_token %}
            <div class="form-row">
                <div class="form-group col-12">
                    <div class="input-group">
                        <input class="form-control py-2 border-right-0 border" type="search" name="title_contains" placeholder="Suchen..." />
                        <span class="input-group-append">
                            <div class="input-group-text bg-transparent">
                                <i class="fa fa-search"></i>
                            </div>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-2 col-lg-2">
                    <label for="priceMin">Mindestpreis in Euro</label>
                    <input type="number" min=0 class="form-control" id="priceMin" placeholder="0" name="price_min">
                </div>
                <div class="form-group col-md-2 col-lg-2">
                    <label for="priceMax">Höchstpreis in Euro</label>
                    <input type="number" min=0 class="form-control" id="priceMax" placeholder="9999" name="price_max">
                </div>
                <div class="form-group col-md-4">
                    <label for="subject">Fach</label>
                    <select id="subject" class="form-control" name="subject">
                    <option selected></option>
                    {% for sub in subjects %}
                        <option value="{{ sub }}">{{ sub }}</option>
                    {% endfor %}
                    </select>
                </div>
                <div class="form-group col-md-4">
                    <label for="grade">Ab Klassenstufe</label>
                    <select id="grade" class="form-control" name="grade">
                    <option selected></option>
                    {% for gra in grades %}
                        <option value="{{ gra }}">{{ gra }}</option>
                    {% endfor %}
                    </select>
                </div>
                <div class="form-group col-md-4">
                    <label for="difficulty">Schwierigkeitsgrad</label>
                    <select id="difficulty" class="form-control" name="difficulty">
                    <option selected></option>
                    {% for diff in difficulty_levels %}
                        <option value="{{ diff }}">{{ diff }}</option>
                    {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="virtual" name="virtual">
                    <label class="form-check-label" for="virtual">
                        Virtuelle Nachhilfe
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="search" name="search">
                    <label class="form-check-label" for="search">
                        Ich biete Nachhilfe
                    </label>
                </div>
            </div>
            <button type="submit" class="btn text-light" style="background-color: #192985" hx-post="/search" hx-swap="outerHTML" hx-target="#offers">Suchen</button>
        </form>
    <div id="offers">
        {% if all %}
            <h1 class="search-headline">Angebote</h1>
            <hr>
        {% else %}
            <br/>
            <h2>Angebote</h2>
        {% endif %}
        <br/>
        <div class=" row row-cols-1 row-cols-md-3">

        {% for offer in offers %}
            <div class="col" style="margin-bottom: 20px">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">{{ offer.get_hr_subject }}</h5>

                        <p class="card-text">{{ offer.description }}
                        <div >
                        <table class="table table-borderless">
                        <tr>
                            <td>Preis:</td>
                            <td style="font-weight: bold;" >{{offer.cost_budget}}€ /h</td>

                        </tr>
                        <tr>
                            <td>Ab Klassenstufe:</td>
                            <td>{{offer.level_class}}</td>

                        </tr>
                        <tr>
                            <td>Schwierigkeitsgrad:</td>
                            <td>{{offer.difficulty}}</td>

                        </tr>
                        {% if offer.searching == True%}
                    <tr>
                        <td style="font-weight: bold;"> Ich suche Nachhilfe.</td>
                    </tr>
                    {%endif%}

                        </table>
                    </div>
                    </p>
                    </div>
                        <div class="card-footer " style="background-color: #192985;">
                        <a style="color: white" href="users/{{offer.author.get_hashid}}/profile"> Kontakt: {{ offer.author.first_name }} {{ offer.author.last_name }}</a>
                        <a style="float: right; color: white" href="/detail/info/{{ offer.get_hashid }}"> Details</a>

                    </div>
                </div>
            </div>

                {% endfor %}


        </div>
</div>

        {% else %}
            <h1>Für deine Suche konnten wir leider keine passende Nachhilfe finde. Bitte ändere deine Eingaben. </h1>
        {% endif %}
    </div>
{% endblock content %}
