{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% block title %}Passwort zurücksetzen{% endblock %}
{% block content %}


	<div class="container p-5">
  	 	<h2 class="font-weight-bold mt-3">Passwort zurücksetzen</h2>
		<hr>
		Bitte gib die E-Mail Adresse deines Nutzerkontos an und wir schicken dir einen Link zum Passwort zurücksetzen.
		<p>Enter your user account's verified email address and we will send you a password reset link.</p>
        <form method="POST">
            {% csrf_token %}
			<div class="form-group">
				<label>Email</label>
				<input name="email" type="email" class="form-control">
			</div>

		<button class="btn text-light"  style="background-color: #192985" type="submit">E-Mail senden</button>
        </form>
  	</div>

{% endblock %}
